{:kotoba.app/id "cloud.itonami.isic-3290", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif5qs336i5ucwkii5mehjsq6ie5zyfm3gcbp6v7k7rpqvkoyahwby", :kotoba.app/embed-url "ipfs://bafkreif5qs336i5ucwkii5mehjsq6ie5zyfm3gcbp6v7k7rpqvkoyahwby", :published {:archive "https://kotobase.net/ipfs/bafkreif5qs336i5ucwkii5mehjsq6ie5zyfm3gcbp6v7k7rpqvkoyahwby", :size 73172, :put-status 201, :get-status 200, :at "2026-08-15T13:45:55.362Z"}}
